<html>
	<head>
		<title> My Profile</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<style>
		img {border-radius: 50%;}
		* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
		</style>
	</head>
	
	<body style = "height:800px ; width:1500px;background-color:white">
		<div id="outerbody" style = "height:800px ; width:1000px; background-color:#196f3d; margin:0 auto">
			<div id="header" style = "background-color:##196f3d;height:39px;">
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href= / type="button" class="btn btn-secondary" style="background-color:#196f3d">Home</a>
					<a href= page2 type="button" class="btn btn-secondary" style="background-color:#196f3d">About Fasilkom</a>	
					<a href= page3 type="button" class="btn btn-secondary" style="background-color:#196f3d">Registration Form</a>
</div>
			</div>
			
			<div id ="bodyCountainer" style="background-color:#27ae60;float:left;width:1000px;height:800px">
				 <form action="action_page.php">
					<div class="container">
						<h1>Register</h1>
						<p>Please fill in this form to create an account.</p>
						<hr>
						
						<label for="nama"><b>Nama</b></label>
						<input type="text" placeholder="Enter Nama" name="nama" required>
						<hr>
						
						<label for="bday"><b>Tanggal Lahir</b></label>
						<input type="date" name="bday">
						<hr>
						
						<label for="email"><b>Email</b></label>
						<input type="text" placeholder="Enter Email" name="email" required>
						<hr>

						<label for="psw"><b>Password</b></label>
						<input type="password" placeholder="Enter Password" name="psw" required>
						<hr>

						<label for="psw-repeat"><b>Repeat Password</b></label>
						<input type="password" placeholder="Repeat Password" name="psw-repeat" required>
						<hr>

						<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
						<button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form> 
			</div>
		
		</div>
	
	</body>


</html>