<!DOCTYPE html>
<html>
	<head>
		<title> My Profile</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<style>
		img {border-radius: 50%;}
		</style>
	</head>
	
	<body style = "height:800px ; width:1500px;background-color:white">
		<div id="outerbody" style = "height:800px ; width:1000px; background-color:#196f3d; margin:0 auto">
			<div id="header" style = "background-color:##196f3d;height:39px;">
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href= / type="button" class="btn btn-secondary" style="background-color:#196f3d">Home</a>
					<a href= page2 type="button" class="btn btn-secondary" style="background-color:#196f3d">About Fasilkom</a>	
					<a href= page3 type="button" class="btn btn-secondary" style="background-color:#196f3d">Registration Form</a>
</div>
			</div>
			
			<div id ="bodyCountainer">
				<div id="leftSection" style="background-color:#27ae60;float:left;width:300px;height:800px">
					 <img src="1443_fakultas-ilmu-komputer-universitas-indonesia-fasilkom-ui.jpg" alt="Avatar";" width="300" height="300">
				</div>
				<div id="rightSection" style="background-color:#27ae60;float:right;width:700px;height:800px">
					<p style="font-size:150%">Fakultas Ilmu Komputer Universitas Indonesia</p>
					<p style="font-size:150%">Fakultas Ilmu Komputer Universitas Indonesia atau disingkat Fasilkom UI adalah salah satu fakultas Rumpun Ilmu Sains dan Teknologi. Fasilkom UI mengelola program pendidikan jenjang dengan gelar sarjana, magister, dan doktor serta program pelatihan non-gelar.</p>
				</div>
			</div>
		
		</div>
	
	</body>


</html>