<!DOCTYPE html>
<html>
	<head>
		<title> My Profile</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<style>
		img {border-radius: 50%;}
		</style>
	</head>
	
	<body style = "height:800px ; width:1500px">
		<div id="outerbody" style = "height:800px ; width:1000px; background-color:#196f3d; margin:0 auto">
			<div id="header" style = "background-color:##196f3d;height:39px;">
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href= / type="button" class="btn btn-secondary" style="background-color:#196f3d">Home</a>
					<a href= page2 type="button" class="btn btn-secondary" style="background-color:#196f3d">About Fasilkom</a>	
					<a href= page3 type="button" class="btn btn-secondary" style="background-color:#196f3d">Registration Form</a>
				</div>
			</div>
			
			<div id ="bodyCountainer">
				<div id="leftSection" style="background-color:#27ae60;float:left;width:300px;height:800px;text-align:center">
					 <a style="border-radius: 50%" href="http://tinypic.com?ref=2el8eol" target="_blank"><img src="http://i67.tinypic.com/2el8eol.jpg" style="transform:rotate(270deg)" border="0" alt="Image and video hosting by TinyPic" width="300" height="300"></a>
					 <p></p>
					 <p style="font-size:150%">Ananda Daffa Sabila Isliyana</p>
					 <p style="font-size:100%">From : Indonesia</p>
					 <p style="font-size:100%">Email : dafpool4@gmail.com</p>
					 <p style="font-size:100%">Occupation : Collage Student</p>
				</div>
				<div id="middleSection" style="background-color:#27ae60;float:left;width:400px;height:800px;text-align:center">
					<p style="font-size:150%"><b>Informasi Akademis</b></p>
					<p style="font-size:150%">Lulus dari SDI Al azhar 9 KP</p>
					<p style="font-size:150%">Lulus dari SMPI Al azhar 9 KP</p>
					<p style="font-size:150%">Lulus dari SMAI Al azhar 4 KP</p>
					<p style="font-size:150%">Mahasiswa Fakultas Ilmu Komputer Universitas Indonesia</p>
				</div>
				<div id="rightSection" style="background-color:#27ae60;float:right;width:300px;height:800px;text-align:center">
					<p style="font-size:150%"><b>Skill</b></p>
					<p style="font-size:150%">Photoshop</p>
					<p style="font-size:150%">Python</p> 
				</div>
			</div>
		
		</div>
	
	</body>


</html>